
/* @keyframes для масштабирования сердца */
@keyframes heart-scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}



/* @keyframes для вспышки искр */
@keyframes sparks-flash {
  0% {
    opacity: 0; /* искры невидимы */
  }
  50% {
    opacity: 1; /* вспышка */
  }
  100% {
    opacity: 0; /* исчезновение */
  }
}


  

