:root {
  --font-main: 'Inter', system-ui, -apple-system, 'Segoe UI', Roboto, sans-serif;
  --font-accent: 'PressStart2P', cursive;
  --label-stroke-color: #FFFFFF;
  --weight-card-text: 410;
  --weight-card-title: 715;
  --animation-fill-color: #FF0000;
  --contour-color: #FF0000;
  --span-color: white;
  --page-bg: 
    repeating-linear-gradient(
    to right,
    #d3d3d3 0,
    #d3d3d3 2px,
    transparent 2px,
    transparent 4px
  ),

  repeating-linear-gradient(
    to bottom,
    #d3d3d3 0,
    #d3d3d3 2px,
    transparent 2px,
    transparent 4px
  ),

  linear-gradient(
    to bottom,
    #e7e7e7 0%,
    #e7e7e7 0.01%, 
    #1a1a1a 100%
  );
    --header-width: clamp(320px, 100%, 1440px);
    --accent-color: black;
    --accent-color-rgb: 0, 0, 0;
    
}
